@import 'bootstrap';
@import 'bootstrap-sprockets';
@import 'font-awesome';
@import 'font-awesome-sprockets';

//Fonts
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(https://fonts.googleapis.com/css?family=VT323);


.oswald_font_light {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}


.oswald_font_normal {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}


.oswald_font_bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.satisfy {
  font-family: 'Satisfy', cursive;
  font-weight: 400;
}

.vtgreen {
font-family: 'VT323', ;
color: 008225;
}



.tangerine {
  font-family: 'Tangerine', cursive;
  font-weight: 600;
}

.tangerine_bold {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
}
